<!-- /templates/index.html -->
<!-- Main Page Template -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beauty Care Reviewing Website</title>

    <!-- CSS Link -->
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

    <!-- Main Content -->
    <h1>Heading</h1>
    <p>Stuff goes here</p>

    <!-- Java Script Link -->
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>

</html>